/*==================================================================
    Author: Ruth Lamprecht, Ph.D.
   
====================================================================*/

/*=======================================
    GENERAL STYLES
=========================================*/
body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 14px;
    margin:0px;
}
p {
    line-height:30px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:5px;
}
.main {
	background-color:#fff;
	margin:15px;
	color:#000;
}
/*=======================================
    PAGE HEADING STYLES
=========================================*/
.home-head { 
  background-color:#66aaff;
  width:100%;
  padding-top:140px;
  padding-bottom:40px;
  margin:1px;
  text-align:center;
  clear:both;
  border-bottom: 10px solid #cccc33;
}
.head-first {
  font-size:250%;
  border:6px outset #339933;
  padding:10px;
  color:#003366;
  letter-spacing:2px;
  width:fit-content;
  margin-right:auto;
  margin-left:auto;
}
.head-last {
  margin-top:10px;
  font-size:18px;
  font-weight:bold;
  padding: 10px;
  border:2px dashed #cc3300;
  color:#003366;
  width:fit-content;
  margin-right:auto;
  margin-left:auto;
}
.sub-head {
  background-color:#66aaff;
  color: #003366;
  width:90%;
  padding-top:100px;
  padding-bottom:10px;
  margin:auto;
  text-align:center;
  clear: both;
}
.sub-first {
  font-size:150%;
  padding:10px;
  letter-spacing:2px;
  margin-right:auto;
  margin-left:auto;
}
/*=======================================
   NAVBAR STYLES   
=========================================*/
.navbar {
  font-size:small;
  color:#003366;
  background-color:#fff;
  position:fixed;
  top:0;
  width: 100%;
  margin:0px;
  padding:0px;
  border-bottom: 10px solid #cccc33;
  overflow: hidden;
}
.navbar-sitename {
  font-weight:bolder;
  font-size:larger;
  text-align:left;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  padding-bottom:5px;
}
.navbar-list {
  text-align:right;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:15px;
}
.navbar a {
  display: inline;
  color: #003366;
  text-align: center;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.navbar-active {
  background-color: #ff9900;
}
.navbar-collapse {
  display: none;
}
.dropbtn {
  background-color: #ff9900;
  color: #003366;
  padding: 5px 25px;
  font-size: 16px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: relative;
  right: 0;
  background-color: #fff;
}
.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #66aaff;}
.dropdown:hover .dropdown-content {display: block;}
/*=======================================
   PAGE BLOCKS STYLES   
=========================================*/
.main-block {
  text-align:center;
  margin:auto;
  padding:20px;
  display: flex;
  width: 90%;
}
.blockHeader {
  text-align:center;
  margin:auto;
  padding:30px;
  background-color: #66aaff; 
  width: 300px;
}
.blockBlue {
  top: 0;
  vertical-align: text-top;
  width: 25%;
  padding: 15px;
  margin: 5px;
  background-color: #66aaff; 
}
.blockGreen {
  top: 0;
  vertical-align: text-top;
  width: 33%;
  /*min-height:100px;*/
  padding: 15px;
  margin: 5px;
  background-color: #339933; 
}
.blockRed {
  top: 0;
  vertical-align: text-top;
  width: 33%;
  padding: 15px;
  margin: 5px;
  background-color: #cc3300; 
}
.blockYellow {
  top: 0;
  vertical-align: text-top;
  width: 33%;
  padding: 15px;
  margin: 5px;
  background-color: #cccc33; 
}
.blockBorder {
  top: 0;
  vertical-align: text-top;
  width: 33%;
  padding: 15px;
  margin: 5px;
  border:1px solid #ff9900;
}
/*=======================================
    OTHER STYLES
=========================================*/
.main-image {
  border:10px solid #cccc33;
  width:fit-content;
  margin:auto;
  padding:10px;
  text-align:center;
  background-color:#339933;
  color: #003366;
  margin-bottom:15px;
}
.main-caption {
  text-align:center;
}
.main-inner {
  border:10px solid #cc3300;
  width: 400px;
}
.form-control {
  display: block;
  width: 90%;
  margin: auto; 
  margin-bottom: 15px;
  padding-bottom:5px;
}
.field {
  margin: 5px;
  padding: 5px;
}
/*=======================================
    FOOTER STYLES
=========================================*/
#footer {
	padding:20px 50px 20px 50px;
	text-align:right;
	border-top:1px solid #003366;
	color: #003366;
}

/*=======================================
    MEDIA QUERIES
=========================================*/
@media all and (max-width:750px){
  .head-main { 
    font-size:28px ;
  }
  .block1, .block2, .block3, .block4, .main-block, .blockHeader {
    display: block;
    width: 50%;
    margin:auto;
  }
  .blockGreen, .blockRed, .blockYellow, .blockBorder, iframe {
    width: 80%;
  }
  .main-image {
    width:80%;
  }
  .main-image img{
    width:95%;
  }
}
@media all and (max-width:600px){
  .navbar-collapse {
    display: block;
  }
  .navbar-list {
    display:none;
  }
  .head-main { 
    font-size:24px ;
  }
}

