/*==================================================================
    Author: Ruth Lamprecht, Ph.D.
    Last update: March 2025
====================================================================*/

/*=======================================
    GENERAL STYLES
=========================================*/
body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 14px;
  margin:0px;
}
p {
  line-height:30px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:5px;
}
main {
	background-color:#fff;
	margin:15px;
	color:#000;
}

/*=======================================
    PAGE HEADING STYLES
=========================================*/
.sitename {
  position:fixed;
  top: 0;
  width: 100%;
  height: 20px;
  color:#003366;
  background-color:#fff;
  font-weight:bolder;
  font-size:larger;
  padding: 15px;
  z-index: 99;
}
.home-head { 
  position: relative;
  z-index: -1;
  background-color:#66aaff;
  width:100%;
  padding-top:140px;
  padding-bottom:40px;
  margin:1px;
  text-align:center;
  clear:both;
  border-bottom: 10px solid #cccc33;
}
.home-first {
  font-size:250%;
  border:6px outset #339933;
  padding:10px;
  color:#003366;
  letter-spacing:2px;
  width:fit-content;
  margin-right:auto;
  margin-left:auto;
}
.home-second {
  margin-top:10px;
  font-size:18px;
  font-weight:bold;
  padding: 10px;
  border:2px dashed #cc3300;
  color:#003366;
  width:fit-content;
  margin-right:auto;
  margin-left:auto;
}
.sub-head {
  background-color:#66aaff;
  color: #003366;
  width:90%;
  padding-top:100px;
  padding-bottom:10px;
  margin:auto;
  text-align:center;
  clear: both;
}
.sub-first {
  font-size:150%;
  padding:10px;
  letter-spacing:2px;
  margin-right:auto;
  margin-left:auto;
}
.sub-second {
  margin-top:10px;
  font-size:100%;
  font-weight:normal;
  padding: 10px;
  color:#003366;
  width:fit-content;
  margin-right:auto;
  margin-left:auto;
}

/*=======================================
   NAVBAR STYLES   
=========================================*/
nav {
  color: #003366;
  background-color: white;
  top: 20px;
  width: 100%;
  margin-top:20px;
  border-bottom: 10px solid #cccc33;
  text-align:right;
  position: fixed;
}
.topnav ul {
  list-style-type: none;
  overflow: hidden;
  text-align: right;
  background-color: white;
}
.topnav ul li {
  display: inline;
}
.topnav ul li a {
  text-decoration: none;
  color: #003366;
  padding: 10px;
}
.topnav ul li a:hover {
  background-color: #ddd;
}
.topnav ul li a.active {
  background-color: #ff9900;
}
.icon {
  display: none;
  padding: 5px;
  width: 50px;
}

@media screen and (max-width: 600px) {
  .topnav ul li {
    display: block;
    margin: 20px;
    text-align: left;
  }
  #navlist {
    display: none;
  }
  .icon {
    display: block;
    background-color:#ff9900;
  }
}

/*=======================================
   PAGE BLOCKS STYLES   
=========================================*/
.main-block {
  text-align:center;
  margin:auto;
  padding:20px;
  display: flex;
  width: 90%;
}
.blockHeader {
  text-align:center;
  margin:auto;
  padding:30px;
  background-color: #66aaff; 
  width: 300px;
}
.blockBlue {
  top: 0;
  vertical-align: text-top;
  width: 25%;
  padding: 15px;
  margin: 5px;
  background-color: #66aaff; 
}
.blockGreen {
  top: 0;
  vertical-align: text-top;
  width: 33%;
  /*min-height:100px;*/
  padding: 15px;
  margin: 5px;
  background-color: #339933; 
}
.blockRed {
  top: 0;
  vertical-align: text-top;
  width: 33%;
  padding: 15px;
  margin: 5px;
  background-color: #cc3300; 
}
.blockYellow {
  top: 0;
  vertical-align: text-top;
  width: 33%;
  padding: 15px;
  margin: 5px;
  background-color: #cccc33; 
}
.blockBorder {
  top: 0;
  vertical-align: text-top;
  width: 33%;
  padding: 15px;
  margin: 5px;
  border:1px solid #ff9900;
}
.blockTitle {
  font-size: 1.2em;
  font-weight: bold;
}
/*=======================================
    OTHER STYLES
=========================================*/
.main-image {
  border:10px solid #cccc33;
  width:fit-content;
  margin:auto;
  padding:10px;
  text-align:center;
  background-color:#339933;
  color: #003366;
  margin-bottom:15px;
}
.main-caption {
  text-align:center;
}
.main-inner {
  border:10px solid #cc3300;
  width: 400px;
}
.form-control {
  display: block;
  width: 90%;
  margin: auto; 
  margin-bottom: 15px;
  padding-bottom:5px;
}
.field {
  margin: auto;
  padding: 5px;
  width: 75%;
}
input[type=text] {
  width: 90%;
}
button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  background: #c1d72e;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 80%;
  margin: 10px;
  outline: none;
}
button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border: solid 1px #fff;
  color: #c1d72e;
}

/*=======================================
    FOOTER STYLES
=========================================*/
footer {
	padding:20px 50px 20px 50px;
	text-align:right;
	border-top:1px solid #003366;
	color: #003366;
}

/*=======================================
    MEDIA QUERIES
=========================================*/
@media all and (max-width:750px){
  .head-main { 
    font-size:28px ;
  }
  .block1, .block2, .block3, .block4, .main-block, .blockHeader {
    display: block;
    width: 50%;
    margin:auto;
  }
  .blockGreen, .blockRed, .blockYellow, .blockBorder, iframe {
    width: 80%;
  }
  .main-image {
    width:80%;
  }
  .main-image img{
    width:95%;
  }
}
@media all and (max-width:600px){
  .navbar-collapse, .dropdown {
    display: block;
  }
  .navbar-list {
    display:none;
  }
  .head-main { 
    font-size:24px ;
  }
}

